<a href="https://colab.research.google.com/github/waltechel/202111PythonGrammarStudy/blob/master/chapter12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# chapter 12 딕셔너리(Dictionary)

## 12-1. 딕셔너리의 이해

In [ ]:
dc = {
  '코카콜라': 900,
  '바나나맛우유': 750,
  '비타500': 600,
  '삼다수': 450
  }

In [ ]:
dc

In [ ]:
dc = {
  '이름': '이순둥',  # 값이 문자열
  '나이': 19,    # 값이 정수
  '직업': '학생',   # 값이 문자열
  '키': 175.8    # 값이 실수
  }

In [ ]:
dc

In [ ]:
dc = {
  '이름': '이순둥',  # 값이 문자열
  '나이': 19,    # 값이 정수
  '직업': '학생',   # 값이 문자열
  '키': 175.8    # 값이 실수
  }

In [ ]:
dc

In [ ]:
dc = {
  '이순둥': 22,
  '정순둥': 22,
  '김순둥': 22
  }

In [ ]:
dc

- 같은 키의 데이터를 여럿 저장했더니 마지막에 저장된 데이터만 남는 결과로 이어졌다.

In [ ]:
dc = {
  '이순둥': 22,
  '이순둥': 23,
  '이순둥': 24
  }

In [ ]:
dc

## 12-2. 딕셔너리의 데이터 참조, 수정, 추가, 삭제

- 참조

In [ ]:
dc = {
  '코카콜라': 900,
  '바나나맛우유': 750,
  '비타500': 600,
  '삼다수': 450
  }

In [ ]:
v = dc['삼다수']

In [ ]:
v

- 수정

In [ ]:
dc['삼다수'] = 550

In [ ]:
dc

In [ ]:
dc['삼다수'] += 100

In [ ]:
dc

- 추가

In [ ]:
dc['카페라떼'] = 1300

In [ ]:
dc

- 삭제

In [ ]:
del dc['비타500']

In [ ]:
dc

In [ ]:
dc

## 12-3. 연산자 == 을 대상으로 하는 딕셔너리의 성격

- 튜플의 데이터는 저장 순서가 의미가 있어요

In [ ]:
t1 = (1, 2, 3)
t2 = (1, 2, 3)
t3 = (3, 2, 1)

In [ ]:
t1 == t2

In [ ]:
t1 == t3

- 리스트의 데이터는 저장 순서가 의미가 있어요

In [ ]:
l1 = [1, 2, 3]
l2 = [1, 2, 3]
l3 = [3, 2, 1]

In [ ]:
l1 == l2

In [ ]:
l1 == l3

- 딕셔너리의 데이터는 저장 순서가 의미가 없다

In [ ]:
d1 = {1: 'a', 2: 'b'}
d2 = {1: 'a', 2: 'b'}
d3 = {2: 'b', 1: 'a'}

In [ ]:
d1 == d2

In [ ]:
d1 == d3

## 12-4. in 연산과 not in 연산

In [ ]:
dc1 = {'코카콜라' : 900, '삼다수' : 450}
dc2 = {'새우깡' : 700, '콘치즈' : 850}

In [ ]:
if '새우깡' in dc2:       # 새우깡이라는 키가 dc2에 존재하면,
  dc2['새우깡'] = 950     # 값을 950으로 수정

In [ ]:
if '카페라떼' not in dc1:     # 카페라떼라는 키가 dc1에 존재하지 않으면
  dc1['카페라떼'] = 1200      # 추가

## 12-5. 딕셔너리의 for 루프

- 모든 과자의 가격을 70원씩 전부 올려야 한다고 가정한다

In [ ]:
dc = {'새우깡' : 700, '콘치즈' : 850, '꼬깔콘' : 750 }

In [ ]:
dc = {'새우깡' : 700, '콘치즈' : 850, '꼬깔콘' : 750 }
for i in dc:
  print(i, end=' ')

In [ ]:
dc = {'새우깡' : 700, '콘치즈' : 850, '꼬깔콘' : 750 }
for i in dc:
  dc[i] += 70

In [ ]:
dc

## 과제

In [ ]:
dc = {'새우깡' : 700, '콘치즈' : 850, '꼬깔콘' : 750 }

- 다음 과자 정보가 담긴 딕셔너리에 900원 짜리 홈런볼을 추가한다.

- 모든 과자의 가격을 100원씩 올린다

- 꼬깔콘을 팔지 않기로 하였다. 꼬깔콘을 삭제하도록 한다.