<a href="https://colab.research.google.com/github/chiwoongMOON/202111PythonGrammarStudy/blob/master/chapter07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# chatper 07 True, False 그리고 if 와 그 형제들

## 07-1. 참과 거짓을 의미하는 값(데이터)

In [ ]:
True     # True는 그 단어의 의미처럼 '참'을 뜻한다.

In [ ]:
False     # False는 그 단어의 의미처럼 '거짓'을 뜻한다.

In [ ]:
3 > 10  # 3이 10보다 크니?

In [ ]:
3 < 10  # 3이 10보다 작으니?

In [ ]:
r = 3 < 10     # < 연산의 결과인 True가 변수 r에 저장된다.
r

In [ ]:
print("type(True) : ", type(True))
print("type(False) : ", type(False))

## 데이터 중간정리
- int형 데이터   ex) 3, 5, 7, 9
- float형 데이터   ex) 2.2, 4.4, 6.6, 8.8
- 리스트형 데이터   ex) [3, 5, 7, 9], [2.2, 4.4, 6.6, 8.8]
- 스트링형 데이터   ex) "I am a boy", 'You are a girl'
- 부울형 데이터   ex) True, False

## 07-2. 소스파일에 main함수 만들기

In [ ]:
# main.py
def main():  # main 함수의 정의
  print("Simple Frame")

main()   # main 함수의 호출을 명령함

## 07-3. if문: 조건이 맞으면 실행하라

In [ ]:
# if_positive.py
def main():   # main 함수의 정의
  num = int(input("정수 입력: "))
  if num > 0:
    print("양의 정수입니다.")

main()   # 위의 main 함수를 실행해라!

In [ ]:
num = 2
if num > 0: print("양의 정수입니다.") # 한 줄이면 이렇게도 가능

## 07-4. if~else문 : 이쪽 길! 아니면 저쪽 길!

In [ ]:
# if_else.py
def main():
  num = int(input("정수 입력: "))
  if num > 0:
    print("0보다 큰 수입니다.")  # num이 0보다 크면 이 문장 실행
  else:
    print("0보다 크지 않은 수입니다.") # num이 0보다 크지 않으면 이 문장 실행

main()

## 07-5. if ~ elif ~ else문: 여러 길 중에서 하나의 길만 선택!

In [ ]:
# if_elif_else.py
def main():
  num = int(input("정수 입력: "))

  if num > 0:
    print("0보다 큰 수입니다.") # 문장 1
  elif num < 0:
    print("0보다 작은 수입니다.") # 문장 2
  else:
    print("0으로 판단이 됩니다.") # 문장 3

main()

## 07-6. True 또는 False를 반환하는 연산들

In [ ]:
# if_elif_else.py
def main():
  num = int(input("정수 입력: "))

  if num == 1:
    print("1을 입력했습니다.")
  elif num == 2:
    print("2을 입력했습니다.")
  elif num == 3:
    print("3을 입력했습니다.")
  else:
    print("1, 2, 3 아닌 정수를 입력했습니다.")

main()

In [ ]:
# if_and_if.py
def main():
  num = int(input("2의 배수이면서 3의 배수인 수 입력: "))

  if num % 2 == 0:
    if num % 3 == 0:
      print("OK!")
    else:
      print("NO!")
  else:
    print("NO!")
  
main()

- and 연산자

In [ ]:
True and True

In [ ]:
True and False

In [ ]:
False and True

In [ ]:
False and False

- or 연산자

In [ ]:
True or True

In [ ]:
True or False

In [ ]:
False or True

In [ ]:
False or False

- not 연산자

In [ ]:
not False

In [ ]:
not True

In [ ]:
# and.py

def main():
    num = int(input("2의 배수이면서 3의 배수인 수 입력: "))

    if num % 2 == 0 and num % 3 == 0:
        print("OK!")
    else:
        print("NO!") 

main()

## 과제

- 우리는 이제 if도 할 수 있습니다. 
- 얼른 백준으로 가서 문제를 또 풀어보지요

In [ ]:
n1, n2, n3 = input().split()
n1 = int(n1)
n2 = int(n2)
n3 = int(n3)

if n1 == n2 == n3:
  print(10000 + n1 * 1000)
elif n1 == n2:
  print(1000 + n1 * 100)
elif n1 == n3:
  print(1000 + n1 * 100)
elif n2 == n3:
  print(1000 + n2 * 100)
else:
  if n1 > n2:
    if n1 > n3:
      print(n1 * 100)
    else:
      print(n3 * 100)

In [ ]:
n1, n2, n3 = input().split()

n1 = int(n1)

n2 = int(n2)

n3 = int(n3)



if n1 == n2 and n2 == n3:

  print(10000 + n1 * 1000)

elif n1 == n2:

  print(1000 + n1 * 100)

elif n1 == n3:

  print(1000 + n1 * 100)

elif n2 == n3:

  print(1000 + n2 * 100)

else:

  answer = max(n1, n2)

  answer = max(n3, answer)

  print(answer * 100)

In [ ]:
n, m = map(int, input().split())
for i in range(n, m+1, 1):
  if n == m:
    break
print(i)

In [ ]:
N, M = map(int, input().split())
if N - M < 0:
  print(M - N)
else :
  print(N - M)

In [ ]:
N, M = map(int, input().split())



print(abs(N - M))
#abs 절댓값 구하는 함수

## 07-7. 리스트와 문자열을 대상으로도 동작하는 >=, <=, ==, !=

In [ ]:
'abc' == 'abc'  # 두 문자열이 같은가?

In [ ]:
'abc' != 'abc'  # 두 문자열이 다른가?

In [ ]:
[1, 2, 3] == [1, 2]    # 두 리스트가 같은가?

In [ ]:
[1, 2, 3] != [1, 2]    # 두 리스트가 다른가?

## 07-8. True 또는 False로만 답하는 함수들

- isdigit()

In [ ]:
st1 = "123"
st2 = "OneTwoThree"
st1.isdigit()   # st1은 숫자로만 이뤄져 있나요?

In [ ]:
st2.isdigit()   # st2는 숫자로만 이뤄져 있나요?

- isalpha()

In [ ]:
st1 = "123"
st2 = "OneTwoThree"
st1.isalpha()

In [ ]:
st2.isalpha()

- startswith()

In [ ]:
str = "Supersprint"
str.startswith("Super")     # 문자열이 'Super'로 시작하는가?

- endswith()

In [ ]:
str = "Supersprint"
str.endswith("int")     # 문자열이 'int'로 끝나는가?

In [ ]:
# is_phone_num.py

def main():
    pnum = input("스마트폰 번호 입력: ")

    if pnum.isdigit() and pnum.startswith("010"):
        print("정상적인 입력입니다.")
    else:
        print("정상적이지 않은 입력입니다.")

main()

## 07-9. in, not in

In [ ]:
s = "Tomato spaghetti"
if s.find("ghe") != -1:
  print("있습니다.")
else:
  print("없습니다.")

In [ ]:
if "ghe" in s:
  print("있습니다.")
else:
  print("없습니다.")

In [ ]:
3 in [1, 2, 3]     # 리스트 [1, 2, 3] 안에 3이 있는가?

In [ ]:
4 in [1, 2, 3]     # 리스트 [1, 2, 3] 안에 4가 있는가?

In [ ]:
3 not in [1, 2, 3]

In [ ]:
4 not in [1, 2, 3]

In [ ]:
"he" not in "hello"

In [ ]:
"oo" not in "hello"

## 과제

- 프로그램 사용자가 정수를 입력하면, 그 수의 거듭제곱 값을 출력한다
- 프로그램 사용자가 정수가 아닌 것을 입력하면, "정수가 아닙니다." 는 main()함수를 구현한다.

In [ ]:
def main(num):
  if num == int(num):
    print(num * num)
  else:
    print("정수가 아닙니다.")

In [ ]:
def main():

  num = input("정수를 입력해주세요! ")

  if num.isdigit():

    num = int(num)

    print(num ** 2)

  else:

    print("정수가 아닙니다")



main()

In [ ]:
main(5)

## 07-10. 수를 True와 False로 인식하는 방식

In [ ]:
num = 1
if num:
  print("num은 True입니다.")
else:
  print("num은 False입니다.")

In [ ]:
num = 0
if num:
  print("num은 True입니다.")
else:
  print("num은 False입니다.")

In [ ]:
num = 2
if num:
  print("num은 True입니다.")
else:
  print("num은 False입니다.")

In [ ]:
num = -1
if num:
  print("num은 True입니다.")
else:
  print("num은 False입니다.")

- 0 이 오는 경우 False가 온 것으로 간주한다.
- 0 아닌 수가 오는 경우 True가 온 것으로 간주한다.

In [ ]:
bool(5)

In [ ]:
bool("what")

In [ ]:
bool("")

In [ ]:
bool([1, 2, 3])

In [ ]:
bool([])

- 문자열과 유사하게 빈 리스트는 False, 값이 있는 리스트는 True로 해석된다.