<a href="https://colab.research.google.com/github/waltechel/202111PythonGrammarStudy/blob/master/chapter04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 4장.int형 데이터와 float형 데이터

## 04-1.int형 데이터와 float형 데이터의 차이점

- 정수는 정확한 값을 저장하지만, 실수는 오차가 존재한다.

In [ ]:
num = 2       # 정수는 정확한 값 저장
print(num)

In [ ]:
num1 = 1.000000000000001      # 실수는 오차가 존재
num2 = 1.1
print(num1 + num2)

## 04-2.변수의 형태를 확인하는 type 함수

In [ ]:
type(3)

In [ ]:
type(3.1)

In [ ]:
type(3.0)

## 04-3.기본적인 산술연산

In [ ]:
3 ** 2   # 거듭제곱을 계산

In [ ]:
5 / 2    # 실수형 나눗셈 계산

In [ ]:
5 // 2   # 나눗셈의 몫을 계산

In [ ]:
5 % 2    # 나눗셈의 나머지 계산

## 04-4.int함수와 float함수

- 해당 함수에 숫자로 이루어진 문자열을 전달할 경우 숫자로 바꿔주어 eval함수를 대체할 수 있다.

In [ ]:
num = 10
num = float(num)
type(num)

In [ ]:
num = float("3.14")
type(num)

- input으로 받은 데이터의 값은 string이 된다.

In [ ]:
type(input("height: "))
# height: 165.3

- string으로 받은 값을 float 로 변환하였다.

In [ ]:
height = float(input("height: "))
# height: 165.3
print(height)

## 04-5.int형 변환과 float형 변환

- float형을 int형으로 변환할 경우 소수점이하를 버린다

In [ ]:
num = int(3.14)
print(num)

## 04-6.복합 대입

In [ ]:
num = 10
num += 1   # num = num + 1을 줄인 표현
print(num)

In [ ]:
num -= 3 # num = num - 3을 줄인 표현
print(num)

In [ ]:
num *= 3  # num = num * 3을 줄인 표현
print(num)

## 04-7. 소괄호

In [ ]:
3 + 4 / 2

In [ ]:
(3 + 4) / 2

## 연습문제

- 정수형 나눗셈의 결과를 출력하는 함수를 만들어보자. 이 함수가 호출되면 다음의 실행 결과를 보이도록 해본다.
- 예 : int_div(5, 2)
- 몫 > 2
- 나머지 > 1

- 두 수 사이의 모든 정수의 합을 구하는 코드를 작성하라
- 예 : bet_sum(2, 5)
- 7
- 예 : bet_sum(1, 5)
- 9