<a href="https://colab.research.google.com/github/chiwoongMOON/202111PythonGrammarStudy/blob/master/chapter09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# chapter 09 튜플과 레인지

- 정수형 : int
- 소수형 : float
- 문자형 : str(string)
- 부울형 : bool(boolean)
- 리스트형 : list
- 튜플 : tpl(tuple)
  - 리스트와 유사(곧 배열)
  - 리스트는 값을 추가, 제거, 변경할 수 있는데 반해
  튜플은 값을 읽기만 가능(튜플의 인자는 무조건 상수)

## 09-1. 튜플

In [ ]:
lst = [1, 2, 3]      
lst

In [ ]:
lst = [1, 2, 3]      
lst[0]

In [ ]:
type(lst)

In [ ]:
tpl = (1, 2, 3)
tpl

In [ ]:
tpl = (1, 2, 3)
tpl[0]

In [ ]:
type(tpl)

In [ ]:
lst = [1, 2, 3]      
lst.append(3)
lst

In [ ]:
lst = [1, 2, 3]      
lst[0] = 7
lst

In [ ]:
tpl = (1, 2, 3)
tpl.append(3)
tpl

In [ ]:
tpl = (1, 2, 3)
tpl[0] = 7
tpl

## 09-2. 튜플을 어디다 쓸 것인가?

In [ ]:
frns = [['동수', 131120], ['진우', 130312], ['선영', 130904]]
frns

In [ ]:
frns[2]

In [ ]:
frns = [('동수', 131120), ('진우', 130312), ('선영', 130904)]
frns

In [ ]:
frns[2]

## 09-3. 튜플 관련 함수와 연산들

In [ ]:
nums = (3, 2, 5, 7, 1)

In [ ]:
len(nums)   # 값의 개수는?

In [ ]:
max(nums)   # 최댓값은?

In [ ]:
min(nums)   # 최솟값은?

In [ ]:
nums = (1, 2, 3, 1, 2)

In [ ]:
nums.count(2)   # 2가 몇 번 등장해?

In [ ]:
nums.index(1)   # 가장 앞에(왼쪽에) 저장된 1의 인덱스 값은?

In [ ]:
nums = (1, 2, 3)

In [ ]:
3 in nums    # nums에 3이 있니?

In [ ]:
2 not in nums   # num에 2가 없니?

- nums에 저장된 튜플과 (4, 5) 를 합한 새로운 튜플 생성

In [ ]:
nums + (4, 5)   # num에 (4, 5)를 덧붙인 결과는?

- nums에 저장된 튜플 두 개를 이어 놓은 새로운 튜플 생성

In [ ]:
nums * 2    # nums를 두 개 덧붙인 결과는?

- nums에 저장된 튜플의 일부로만 이뤄진 새로운 튜플 생성

In [ ]:
nums[0:3]    # nums[0] ~ num[2]을 꺼내면?

In [ ]:
for i in (1, 3, 5, 7, 9):
  print(i, end = ' ')

## 09-4. 말이 나온 김에 리스트 안에 저장된 데이터를 바꿔보자

In [ ]:
frns = [('동수', 131120), ('진우', 130312), ('선영', 130904)]

In [ ]:
frns[0][0]

In [ ]:
frns[0][1]

In [ ]:
frns[0][0] = '동준'

In [ ]:
frns[0][1] = 123456

In [ ]:
frns[0] = ('동준', 123456)

In [ ]:
frns

## 09-5. 범위를 지정하는 레인지

In [ ]:
for i in range(1, 11):
  print(i, end = ' ')

In [ ]:
r = range(1, 10)
type(r)

In [ ]:
r = range(1, 10)
9 in r

In [ ]:
10 not in r

In [ ]:
list((1, 2, 3))   # 튜플을 리스트로

In [ ]:
list(range(1, 5))  # 레인지를 리스트로

In [ ]:
list("Hello")    # 문자열을 리스트로

In [ ]:
tuple([1, 2, 3])   # 리스트를 튜플로

In [ ]:
tuple(range(1, 5))  # 레인지를 튜플로

In [ ]:
tuple("Hello")   # 문자열을 튜플로

In [ ]:
lst = list(range(1, 16))
lst

In [ ]:
tpl = tuple(range(1, 16))
tpl

In [ ]:
range(1, 10, 2)  # 1부터 10 이전까지 2씩 증가하는 레인지

In [ ]:
range(1, 10, 3)  # 1부터 10 이전까지 3씩 증가하는 레인지

In [ ]:
list(range(1, 10, 2))  # 1부터 10 이전까지 2씩 증가하는 리스트 만들기

In [ ]:
list(range(1, 10, 3))  # 1부터 10 이전까지 3씩 증가하는 리스트 만들기

## 09-6. 레인지 범위 거꾸로 지정하기

In [ ]:
list(range(2, 10))

In [ ]:
list(range(2, 10, 1))

In [ ]:
list(range(10, 2))

In [ ]:
list(range(10, 2, 1))

In [ ]:
list(range(10, 2, -1))   # 10부터 1씩 감소하여 3까지 이르는 정수들

In [ ]:
list(range(10, 2, -2))   # 10부터 2씩 감소하여 3까지 이르는 정수들

In [ ]:
list(range(10, 2, -3))   # 10부터 3씩 감소하여 3까지 이르는 정수들

## 과제

- 레인지도 할 줄 알게 되었으니 백준 문제를 오지게 풀어야겠지요?