<a href="https://colab.research.google.com/github/waltechel/202111PythonGrammarStudy/blob/master/chapter05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5장. 리스트와 문자열

## 05-01.print 함수의 복습과 확장

In [ ]:
for i in [1, 2, 3]:
        print(i)

In [ ]:
for i in [1, 2, 3]:
        print(i, end = '_')

In [ ]:
for i in [1, 2, 3]:
        print(i, end = ' ')

## 05-02.리스트형 데이터

In [ ]:
type([1, 2, 3])

In [ ]:
[1, "hello", 3.3]

In [ ]:
[1, 2, [3, 4], ["AAA", "ZZZ"]]

In [ ]:
st = [1, "hello", 3.3]
print(st)

## 05-03. 리스트형 데이터의 연산: 인덱싱 연산

In [ ]:
[1, 2, 3] + [4, 5]

In [ ]:
[1, 2, 3] * 2

In [ ]:
st = [1, 2, 3, 4, 5]
n1 = st[0]
n2 = st[4]
print(n1, n2)

In [ ]:
st = [1, 2, 3, 4, 5]
st[0] = 5
st[4] = 1
st

In [ ]:
st = [1, 2, 3, 4, 5]
print(st[-1], st[-2], st[-3])

- 과제
- st = [1, 2, 3, 4] 의 리스트에 담긴 값을 모두 1씩 증가시켜본다

In [ ]:
st = [1, 2, 3, 4]

In [ ]:
st

- st = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 의 리스트에 담긴 값을 모두 1씩 증가시켜본다

In [ ]:
st = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
st

- st = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 의 처음과 마지막의 값을 바꾸도록 해본다

In [ ]:
st = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
st

## 05-04. 리스트형 데이터의 연산:슬라이싱 연산

In [ ]:
st1 = [0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
st2 = st1[2:5]       # st1[2:5]를 꺼내 st2에 저장

In [ ]:
st2

- 중간에 슬라이싱으로 값을 넣는 부분

In [ ]:
st1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
st1[2:5] = [0, 0, 0]

In [ ]:
st1

## 05-05. 슬라이싱 연산에서 생략 가능한 부분

In [ ]:
st = [1, 2, 3, 4, 5]
st[0:3] = [0, 0, 0]
st

In [ ]:
st = [1, 2, 3, 4, 5]
st[:3] = [0, 0, 0]
st

In [ ]:
st = [1, 2, 3, 4, 5]
st[2:] = [0, 0, 0]
st

In [ ]:
st = [1, 2, 3, 4, 5]
st[:] = [0, 0, 0, 0, 0]
st

In [ ]:
st = [1, 2, 3, 4, 5]
st[:] = [0]        # 리스트 전체를 0 하나로 교체
st

In [ ]:
st = [1, 2, 3, 4, 5]
st[:] = []        # 리스트 전체 내용 삭제
st

## 05-06. 리스트에서 몇 칸씩 뛰면서 저장된 값들 꺼내기

In [ ]:
st1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
st2 = st1[0:9:2]     # st1[0] ~ st2[8]까지 2칸씩 뛰면서
st2

In [ ]:
st1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
st2 = st1[0:9:3]      # st1[0] ~ st2[8]까지 3칸씩 뛰면서
st2

## 과제

- st = [1, 2, 3, 4, 5] 에서 2, 4를 삭제해보도록 한다

In [ ]:
st = [1, 2, 3, 4, 5]

- st = [1, 2, 3, 4, 5] 에서 3, 4 사이에 3.5를 추가하라

In [ ]:
st = [1, 2, 3, 4, 5]

- st = [1, 2, 3, 4, 5] 에서 2, 3, 4를 삭제해본다.

In [ ]:
st = [1, 2, 3, 4, 5]

- st = [1, 2, 3, 4, 5]를 전부 지워본다

In [ ]:
st = [1, 2, 3, 4, 5]

In [ ]:
st

- 다음 리스트의 홀수 값들만 출력해본다
- st = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
st = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
st

- 다음 리스트의 5의 배수 값들만 출력해본다
- st = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
st = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
st

## 05-07. 스트링형 데이터 : 문자열

In [ ]:
"Happy birthday to you"

In [ ]:
'Happy birthday to you'

In [ ]:
type('what1')      # 작은따옴표로 묶은 문자열

In [ ]:
type("what2")      # 큰따옴표로 묶은 문자열

- 리스트의 합은 데이터의 병합이 된다

In [ ]:
[1, 2] + [3, 4]

- 문자열의 합연산은 문자의 연결이 된다

In [ ]:
"Hello" + "Everybody"

- 리스트의 곱은 리스트의 반복이 된다

In [ ]:
[1, 2] * 3

- 문자열의 곱은 문자열의 반복이 된다

In [ ]:
"AZ" * 3

- 리스트의 슬라이싱은 일부 데이터만 가져올 수 있다

In [ ]:
st = [1, 2, 3, 4, 5, 6, 7]
st[2:5]

- 문자열의 슬라이싱은 일부 문자열만 가져올 수 있다

In [ ]:
str = "SIMPLEST"
str[2:5]

- 리스트에서 일부 데이터만 변경하는 것은 가능하다

In [ ]:
st = [1, 2, 3, 4, 5, 6, 7]
st[0] = 0
print(st)

- 일부 문자열만 변경하는 것은 불가능하다

In [ ]:
str = "Happy"
str[0] = "D"
print(str)

## 05-08. 리스트와 for 루프 그리고 문자열과 for 루프

In [ ]:
for i in [1, 2, 3]:
        print(i, end = ' ')

In [ ]:
for i in 'Happy':
        print(i, end = ' ')

## 05-09. 리스트와 문자열을 전달받는 함수 len

In [ ]:
st = [1, 2, 3]
len(st)

In [ ]:
sr = 'HaHaHa~'
len(sr)

## 과제

- 리스트에 저장되어 있는 모든 값의 합을 계산해서 그 결과를 반환하는 함수를 만들어본다. 
- 함수의 이름은 sumAll 이다.

In [ ]:
sumAll([1, 2, 3, 4])

- 문자열을 입력받았을 때 거꾸로 출력하는 함수를 만들어본다
- 함수의 이름은 reversePrint 이다.

In [ ]:
reversePrint("hello world!")