<a href="https://colab.research.google.com/github/waltechel/202111PythonGrammarStudy/blob/master/day01/02_python_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- 02-1 숫자형
- 사칙연산

In [ ]:
a = 3
b = 4

In [ ]:
7 / 4

In [ ]:
4 / 2

- 문자열에 따옴표 포함시키기

In [ ]:
food = 'python is "my life"'
food

- 파이썬은 0부터 숫자를 센다

In [ ]:
a = 'life is too short, you need python'
a[0]

In [ ]:
a[12]

In [ ]:
a[-1]

- 슬라이싱

In [ ]:
a = '20010331Rainy'
day = a[:8]
weather = a[8:]
print(day, weather)

- 문자열 포맷팅

In [ ]:
a = "i eat %d apples" % 3
a

In [ ]:
a = "i eat %d apples, today is %s, and weather is %s" % (3, day, weather)
a

In [ ]:
a = 'python'

test = f'{a} is fun'
test

- 정렬과 공백

In [ ]:
"%10s" % "hi"

In [ ]:
"%-10sjane" % "hi"

- 문자열 삽입

In [ ]:
a = ","
a = a.join('abcd')
a

- 문제

In [ ]:
a = "890724"
year = a[:2]
month = a[2:4]
day = a[4:]
print(year, month, day)

In [ ]:
a = "20190603"
year = a[:4]
month = a[4:6]
day = a[6:]
print(year, '-' , month, '-', day, sep='')

In [ ]:
a = "010-1234-5678"
print(a.replace('-', ''))

In [ ]:
a = "DAILY ESSENTAILS REFRESHING TONER REVIEWS"
print(a.lower())

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c']]
a[3][1]

In [ ]:
a = [1, 2, ['a', 'b',['Life', 'is']]]
a[2][2][0]

In [ ]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a.remove(3)
a

In [ ]:
a = [1, 2, 3]
a.pop()

In [ ]:
a = [1, 2, 3]
a.extend([4, 5])
a

In [ ]:
b = [6, 7]
a.extend(b)
a

- 튜플

In [ ]:
pack = (1, 2, 3, 4, 5, 6)

one, two, three, four, five, six = pack

In [ ]:
t3 = (1, 2, 3) + (4, 5, 6)

- 딕셔너리

In [ ]:
dict1 = {'kim': 1, 'dongjun':2}

In [ ]:
dict1['power'] = 2

In [ ]:
dict1

In [ ]:
del dict1['power']

In [ ]:
dict1

In [ ]:
dict1['power'] = 2

In [ ]:
dict1['power'] = '새로운 값'

In [ ]:
dict1

In [ ]:
dict1.items()

- set

In [ ]:
 s2 = set("Hello")

In [ ]:
s2

In [ ]:
dictionary = {'one':'하나', 'two':'둘', 'three':'셋', 'four':'넷', 'five':'다섯'}
A = input("값을 입력하시오 : ")
dictionary[A]

In [ ]:
list1 = [1,1,1,1,1,1,2,4,5,6,7,8,9,10]
set(list1)